<h1>You have an unfinished run. To start a new one you have to abandon the current one by clicking here</h1>

<form asp-controller="ManageRun" asp-action="AbbandonRun" method="post">
    <button type="submit">Abandon run</button>
</form>