<h1>You have an unfinished run. To start a new one you have to abandon the current one by clicking here</h1>

<form asp-controller="ManageRun" asp-action="AbbandonRun" method="post">
    <button type="submit">Abandon run</button>
</form>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Abandon run
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                You are about to abandon your current run! By doing so you won't be able to access it no more and will have to
                start a new one if you wish to continue playing the game!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form asp-controller="ManageRun" asp-action="AbbandonRun">
                <button type="submit" class="btn btn-danger">Abandon run</button>
                    </form>
            </div>
        </div>
    </div>
</div>