<div class="row">
    <h2>Consumable applied successfuly! Redirecting... </h2><div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

    <script>
    window.setTimeout(function(){
window.location.href="/ManageRun/ShowCurrentRun";
}, 2500);
    </script>