<center>
    <h1>
        You don't have an active run at the moment. To start a new run, please click here.

    </h1>
</center>


    
<form asp-controller="StartRun" asp-action="Start" method="get">
    <button class="btn-dark" type="submit">Start new run</button>
</form>
