You have already made a transfer! Beat another opponent to be allowed to make another transfer. You can buy a consumable if you haven't done so yet, or return to you current run page.'

    <form asp-controller="ManageRun" asp-action="BuyConsumable" method="post">
        <button type="submit">Buy consumable</button>
    </form>

    <form asp-controller="ManageRun" asp-action="ShowCurrentRun">
        <button type="submit">Return to current run</button>
    </form>