<center><strong>This is your upgrade hub. From here you can make transfers and/or buy consumables to upgrade your team. Please note that you can do both
but only once for each stage.</strong></center>


    <form asp-controller="ManageRun" asp-action="MakeTransfer" method="post">
        <button type="submit">Make transfer</button>
    </form>

    <form asp-controller="ManageRun" asp-action="BuyConsumable" method="post">
        <button type="submit">Buy consumable</button>
    </form>