@{
    this.ViewData["Title"] = "Game rules";
}


<div class="container">
    <center>
    <h1>
        General
    </h1>
        </center>
    <br />
    <p>
        Footbal Journey is a game in which you are assigned a team of players with randomized strength. By beating opponents which increase
        in difficulty you will earn the right to make transfers and buy consumables to upgrade your team.
    </p>
    <br />

    <center>
        <h1>
            Your team
        </h1>
    </center>
    <br />
    <p>
        Your starting team consists of 11 randomly selected players from a pool of 1000. Every player has a minimum strength of 1 and a maximum of 100.
    </p>
    <br />
    <center><h1>
        Transfers</h1></center>
    <br />
    <p>
        Transfers are a key part for your success. After every opponent you beat you will be able to make a transfer. You have to choose wisely, though,
        because you are allowed only one transfer per stage and if you want to make another one you will have to beat another opponent.
    </p>
    <br />
    <center>
        <h1>
            Consumables
        </h1>
    </center>
    <br />
    <p>
        Consumables are an esential part of your journey. After every win you will be presented a few options to boost your team.
        There are two types of consumables: Individual and Team. Individual consumables give more points but target a random player on the designated position.
        Team consumables, on the other hand, give less points but to all players on the designated position.
    </p>
</div>